<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.batch_sample.mapper.BatchMapper">

    <select id="selectAllBoardContent" resultType="string">
        SELECT board.content FROM board LIMIT #{_skiprows}, #{_pagesize}
    </select>
</mapper>
